node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.env.*
!.env.example
.vercel
.output

/build/
/api/
/server/build
/public/build
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
e2e/.test-results/
e2e/.test-report/
docker/
.tanstack
.nitro
dist/
.neon
MediaInfoModule.wasm
